coverage/
.coverage
coverage.xml
htmlcov/
**/__pycache__/
*.cover
*.coverage
.pytest_cache/

# Log files
*.log
logs/
log/
**/*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
debug.log
error.log
access.log
combined.log